<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Administração</title>
    <link rel="stylesheet" href="../Css/Global.css">
    <link rel="stylesheet" href="../Css/Container.css">
</head>
<body>
    <div class="container">
        <div class="box">
            <p class="h1">Funcionalidades</p>
            <button class="button">
                <a href="./listCategoria.html" class="link">Listar Categorias</a>
            </button>
            <button class="button">
                <a href="./listClientes.html" class="link">Listar Clientes</a>
            </button>
            <button class="button">
                <a href="./listProdutos.html" class="link">Listar Produtos</a>
            </button>
            <button class="button">
                <a href="./listVendas" class="link">Listar Vendas</a>
            </button>
        </div>
    </div>
</body>
</html>